<!DOCTYPE html>
<html>
  <head>
    <title>MyJsStory</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div id="background">

      <nav>
        <div class="logo">
          <div class="img"></div>
          <div class="title">My <br> Story</div>
        </div>
        <div class="side-button">
          <p>Don't have account?</p>
          <a href="/signup">Sign Up</a>
        </div>
      </nav>

      <div id="main">
        <div class="content">
          <div class="main-content">
              <h1>Welcome to MyJS Story</h1>
              <p>Share your experience how you learnt JavaScript.What was <br> your  learning path, which thing you followed to gain knowledge <br> of this wonderful language</p>
              <a href="/login">Login</a>
          </div>
        </div>
        <div class="imhage"></div>
      </div>

      <div id="bottom"></div>



    </div>

   

    

   
   

  </body>
</html>
