<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div id="background">
        <div id="formy">
                <form action="/story" method="post">
    
                    <input type="text" name="description" placeholder="Description"><br><br>
                    <input type="text" name="youtubechannel" placeholder="youtube channel you followed"><br><br>
                    <input type="text" name="blogs" placeholder="blogs"><br><br>
                    <input type="text" name="books" placeholder="books"><br><br>
                    <input type="text" name="mentors" placeholder="mentors"><br><br>
                    <input type="text" name="courses" placeholder="courses"><br><br>
                    <input type="text" name="conclusion" placeholder="conclusion"><br><br>
                    <input type="submit" value="share">
                
                </form>
        </div>
    </div>
</body>
</html>