<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/story" method="post">
    
        <input type="text" name="description" placeholder="Description">
        <input type="text" name="youtubechannel" placeholder="youtube channel you followed">
        <input type="text" name="blogs" placeholder="blogs">
        <input type="text" name="books" placeholder="books">
        <input type="text" name="mentors" placeholder="mentors">
        <input type="text" name="courses" placeholder="courses">
        <input type="text" name="conclusion" placeholder="conclusion">
        <input type="submit" value="share">
    
    </form>
</body>
</html>